[submodule "Kaidel/vendor/glm"]
	path = Kaidel/vendor/glm
	url = https://github.com/g-truc/glm/
[submodule "Kaidel/vendor/glfw"]
	path = Kaidel/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Kaidel/vendor/imguizmo"]
	path = Kaidel/vendor/imguizmo
	url = https://github.com/thecherno/imguizmo
[submodule "Kaidel/vendor/spdlog"]
	path = Kaidel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kaidel/vendor/yaml-cpp"]
	path = Kaidel/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Kaidel/vendor/Box2D"]
	path = Kaidel/vendor/Box2D
	url = https://github.com/TheCherno/box2d
[submodule "Kaidel/vendor/Assimp"]
	path = Kaidel/vendor/Assimp
	url = https://github.com/assimp/assimp
[submodule "Kaidel/vendor/msdf-atlas-gen"]
	path = Kaidel/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
[submodule "Kaidel/vendor/meshoptimizer"]
	path = Kaidel/vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "Kaidel/vendor/imgui"]
	path = Kaidel/vendor/imgui
	url = https://github.com/kellymahn2/imgui
	branch = docking
