# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
KaidelEditor/SandboxProject/assets/scripts/Binaries
KaidelEditor/SandboxProject/assets/scripts/Intermediates/Debug
SandboxProject/scripts/KaidelEditor/Resources/Scripts/Intermediates/Debug
