# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
KaidelEditor/Resources/Icons/ContentBrowser/watch-dogs-2-config-files.rar
KaidelEditor/Resources/Scripts
KaidelEditor/mono
Libs
Kaidel/vendor/mono
